@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: 0.5s;
  /* filter: invert(100%); */
}
*::selection{
  background-color: rgb(144, 156, 167);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track{
  width: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgb(97, 110, 122);
  border-radius: 10px;
}

.parallax-container{
  transform: skewX(-10deg);
}

.parallax-container::-webkit-scrollbar{
  display: none;
}

.parallax-image{
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(152, 168, 193, 0.7);
}

.glass-outer{
  /* background-color: transparent; */
  /* backdrop-filter: blur(10px); */
  color: black;
  /* background-color: rgba(190, 201, 211, 0.49); */
}

.glass-1{
  padding: 10px;
  backdrop-filter: blur(7px);
  background-color: rgba(212, 223, 235, 0.3);
  border-radius: 17px 17px 0 0;
  margin: 0;
  /* background-repeat: round; */
  /* background-repeat: calc(100%/3); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
}
.header{
  font-size: 10vh;
}
.header strong{
  font-family: vivaldi;
  font-weight: bold;
  letter-spacing: 10px;
  word-spacing: 5px;
}
.pop-div{
  position: fixed;
  top: -10px;
  left: 0;
}
#painting_dialog{
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  background-color: rgba(152, 168, 193, 0.7);
}
.main-article{
  padding: 40px;
  box-shadow: 0 0 50px rgba(64, 78, 89, 0.523);
  background-color: rgba(172, 185, 197, 0.3);
  /* border: 1px solid white; */
}
footer{
  background-size: cover;
}
.quote_list{
  backdrop-filter: blur(10px);
  background-color: rgba(74, 100, 123, 0.1);
  border-radius: 15px;
}
.quote_list:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
}
.glass-1,.glass-2{
  border-top: 1px solid rgba(240, 248, 255, 0.3);
  border-left: 1px solid rgba(240, 248, 255, 0.3);
  color: rgb(255, 255, 255);
  /* border: 0 0 10px rgba(0, 0, 0, 0.352); */
  box-shadow: 0 0 50px rgba(64, 78, 89, 0.1);
  border-radius: 20px;
  font-size: 10vh;
  backdrop-filter: blur(7px);
  /* -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor;
  -webkit-text-stroke: 1px rgb(255, 255, 255); */
}

.painting-card{
  border: 1px solid white;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.painting-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px solid rgba(0, 0, 0, 0.2);
}

.non-glass{
  backdrop-filter: blur(5px);
  /* background-color: rgba(212, 223, 235, 0.49); */
  border-radius: 0 0 17px 17px;
  padding: 10px;
}
.partition{
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

